<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);" data-navbar-target="banner">
  <div class="container">
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>

<div class="container" style="text-align:center">
   <% 100.times do %>
     <p>Lorem Ipsum</p>
   <% end %>
</div>
